{{> nav }}

<h1>HomePage</h1>

{{!-- opening syntax --}}
{{#each blogs}}
{{!-- closing syntax --}}

<hr />

<h2>{{ name }}</h2>

<p>{{ description }}</p>

<p>Funding Needed: ${{ needed_funding }}</p>

<a href="/blogs/{{ id }}">
	Click for more information
</a>

{{/each}}